/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 6, 2016, 11:38:55 AM
    Author     : floriane.sapin
*/

#header{
    background-color: cornflowerblue;
}

#content{
    background-color: gray;
}

.buttonImage{
    background-image: url("#{resource['./css/delete.png']}");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

